<!DOCTYPE html>
<html>
  <head>
    <title>NrGsr</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>

    <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
    <script src="engine.js"></script>
    <script src="ctr.js"></script>
    
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #e1 {height : 100px; width:100px;}
    </style>
  </head>
  <body ng-app="app">
	 <div ng-controller="ctr" class="container">
        <uib-tabset>            
            <uib-tab select="onSelectTab(1)" heading="{{strats[0].title}}" active="strats[0].active" disable="strats[0].disabled"></uib-tab>
            <uib-tab select="onSelectTab(2)" heading="{{strats[1].title}}" active="strats[1].active" disable="strats[1].disabled"></uib-tab>
            <uib-tab select="onSelectTab(3)" heading="Find best">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Click 'fight!' to simluate many matches between the two strategies and find out which one is the best.</p>
                        <p><a class="btn btn-primary" href="#" role="button" ng-click="fight()" prevent-default>Fight!</a></p>
                        <table class="table" ng-show="simResult">
                            <tbody>
                                <tr ng-repeat="r in simResult.log track by $index">
                                    <td>{{r}}</td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                </div>                
            </uib-tab>
        </uib-tabset>
        <div style="margin-top:10px;width:1000px;height:500px;" ng-hide="tabNr>2">
            <div style="margin-top:10px;width:600px;height:500px;float:left" id="editor">
                
            </div>       
            <div style="margin-top:10px;width:380px;height:500px;float:left;margin-left:10px;" id="editor">
                <table class="table">
                    <tbody>
                        <tr><td>The function has a single parameter named m with the following content: </td></tr>
                        <tr><td>- yourGuesses: Your previous guesses and their results (array with items {g, r}) </td></tr>
                        <tr><td>- opponentsGuesses: Opponents previous guesses and their results (array with items {g, r}) </td></tr>
                        <tr><td>content of r: 1 => actual > g, -1 => actual < g </td></tr>
                        <tr><td>content of g: Guessed nr</td></tr>
                        <tr><td>m can also be used to store state between guesses</td></tr>
                    </tbody>                            
                </table>
                <hr />
                <div>
                    <p>Click play to show a game between the two.</p>
                    <p><a class="btn btn-primary" href="#" role="button" ng-click="simulateGame()" prevent-default>Play</a></p>
                    <table class="table" ng-show="playResult">
                        <tbody>
                            <tr ng-repeat="r in playResult.log track by $index">
                                <td>{{r}}</td>
                            </tr>
                        </tbody>                            
                    </table>         
                </div>
            </div>                    
        </div>
	 </div>
  </body>
</html>