<!DOCTYPE html>
<html>
  <head>
    <title>NrGsr</title>
    
    <style type="text/css" media="screen">
    
        #editor { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>

	 <script src="js/angular.min.1-4-1.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
     
    <script src="engine.js"></script>
   <script>
       /*
        TODO
        - Handle invalid function
        - Syntax highlighting
        - Better display of winner
        - Cheat sheet for function variables       
       */
    var app = angular.module('app', []);
    app.controller('ctr', function ($scope) {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");            
                
        if(localStorage.code1) {
            $scope.code1 = localStorage.code1;
        } else {
            $scope.code1 = 'if(!m.lastGuess) { m.lastGuess = 1; } else { m.lastGuess = m.lastGuess + 1; } return m.lastGuess;';
        }
        if(localStorage.code2) {
            $scope.code2 = localStorage.code2;
        } else {
            $scope.code2 = 'if(!m.lastGuess) { m.lastGuess = 1000; } else { m.lastGuess = m.lastGuess - 1; } return m.lastGuess;';
        }
      
        $scope.$watch('code1', function () {
            localStorage.code1 = $scope.code1;
        });
        $scope.$watch('code2', function () {
            localStorage.code2 = $scope.code2;
        });
        
        $scope.strategyFunction = function(nr) {
            return nrGsr.parseStrategyString($scope.strategyString(nr));
        }
      
        $scope.strategyString = function(nr) {
            if(nr === 1) {
                return  nrGsr.createStrategyString($scope.code1);
            } else {
                return  nrGsr.createStrategyString($scope.code2);
            }
        }
      
        $scope.findBest = function () {
            $scope.result = JSON.stringify(nrGsr.findBestStrategy($scope.strategyFunction(1), $scope.strategyFunction(2)));        
        }
        
        $scope.showSingleGame = function () {
            var s1 = nrGsr.parseStrategyString(nrGsr.createStrategyString($scope.code1));
            var s2 = nrGsr.parseStrategyString(nrGsr.createStrategyString($scope.code2));
            
            var result = nrGsr.simulateGame(s1, s2, { logEnabled : true });
            var r = '';
            for(var i=0; i<result.log.length; i++) {
            r = r + result.log[i] + '\n';
            }
            $scope.result = r;                
        }
    });     
   </script>
  </head>
  <body ng-app="app">
	 <div ng-controller="ctr">
        <div id="editor">function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }</div>         
     <table>
      <tr>
        <td><textarea rows="25" cols="70" placeholder="if(!m.lastGuess) { m.lastGuess = 1; } else { m.lastGuess = m.lastGuess + 1; } return m.lastGuess;//m: storage between guesses, g: opponents guess, r: 0 if first round, 1 if actual > g, -1 if actual < g" ng-model="code1"></textarea></td>
        <td><textarea rows="25" cols="70" placeholder="if(!m.lastGuess) { m.lastGuess = 1000; } else { m.lastGuess = m.lastGuess - 1; } return m.lastGuess;" ng-model="code2"></textarea></td>
      </tr>
      <tr>
        <td><button ng-click="findBest()">Find best</button></td>
        <td><button ng-click="showSingleGame()">Show single game</button></td>
      </tr>
      <tr>
        <td colspan="2"><textarea rows="25" cols="140" ng-model="result"></textarea> </td>
      </tr>            
     </table>
	 </div>
  </body>
</html>